<form ng-submit="addMateria()"  ng-show="isLoggedIn()" style="margin-top:30px">
    <h3>Crear Materia</h3>

    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Titulo"
               ng-model="titulo">
    </div>

    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Descripción"
               ng-model="descripcion">
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
    <a class="btn btn-primary" ui-sref="materias">Volver</a>

</form>