    <div class="col-xs-10 col-sm-12">


        <h1>Ideas</h1>
        <div class="col-md-12">
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Título
                        <button class="btn" ng-click="order('titulo')">
                            <i class="icon-sort"></i>
                        </button>
                    </th>
                    <th>Autor
                        <button class="btn" ng-click="order('author')">
                            <i class="icon-sort"></i>
                        </button>
                    </th>
                    <th>Estado</th>
                    <th>Alumno Postulado</th>
                    <th></th>

                </tr>
                <tr ng-repeat="idea in ideasPendientes | orderBy:predicate:reverse">
                    <th>{{idea.titulo}}</th>
                    <th>{{idea.author}}</th>
                    <th>{{idea.estado}}</th>
                    <th>{{idea.alumno}}</th>
                    <th>
                        <button ng-disabled="!isLoggedIn()" type="button" class="btn btn-default" aria-label="Ver idea"
                                title="Ver idea"
                                ng-click="verIdea(idea._id)">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>

                        <button ng-disabled="!isLoggedIn()" ng-show="idea.estado == 'En Revisión'" type="button"
                                class="btn btn-default"
                                title="Rechazar Postulado"
                                aria-label="Rechazar" ng-click="rechazarPostulacion(idea, $index)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>


                        <button ng-disabled="!isLoggedIn()" ng-show="idea.estado == 'En Revisión'" type="button"
                                class="btn btn-default"
                                title="Aceptar Postulado"
                                aria-label="Aceptar" ng-click="aceptarPostulacion(idea, $index)">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>


                    </th>
                </tr>
            </table>
        </div>
    </div>