<!-- sidebar -->
<div class="col-xs-3 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation" ng-controller="MenuCtrl">
    <ul class="nav">

        <li><a ui-sref="ideas">Ideas </a></li>

        <!-- ng-show="isProfesor"-->
        <li ><a ui-sref="ideaNueva">Crear Idea </a></li>

        <li ng-show="isDirector"><a ui-sref="ideasPendientes">Tareas Pendientes </a></li>

        <li><a ui-sref="actividades">Registro de actividades </a></li>

        <li><a ui-sref="materias">Materias</a></li>

        <li><a ui-sref="materiaNueva">Crear Materia </a></li>


    </ul>
</div>


