<div class="container">

    <div class="col-xs-6 col-lg-5">
        <div ng-hide="isLoggedIn">
            <h3>Necesita hacer <a href="/#/login">Log In</a> o <a href="/#/register">Registrarse</a> Antes de crear una
                idea</h3>
        </div>
        <h3>Detalle Idea</h3>
        <div class="form-group">
            <label>Título</label>
            <input type="text"
                   class="form-control"
                   placeholder="titulo"
                   ng-model="idea.titulo"
                   ng-disabled="true">
        </div>

        <div class="form-group">
            <label>Descripción</label>

            <input type="text"
                   class="form-control"
                   placeholder="Descripción"
                   ng-model="idea.descripcion"
                   ng-disabled="true">
        </div>

        <div class="form-group">
            <label>Autor</label>

            <input type="text"
                   class="form-control"
                   placeholder="Autor"
                   ng-model="idea.author"
                   ng-disabled="true">
        </div>

        <div class="form-group">
            <label>Estado</label>

            <input type="text"
                   class="form-control"
                   placeholder="Estado"
                   ng-model="idea.estado"
                   ng-disabled="true">
        </div>


        <div class="form-group">
            <label>Alumno postulado</label>

            <input type="text"
                   class="form-control"
                   placeholder="Alumno"
                   ng-model="idea.alumno"
                   ng-disabled="true">
        </div>

        <a class="btn btn-primary" ui-sref="ideas">Volver</a>


        <h3>Comentarios</h3>
        <div style="max-height: 100px !important;   overflow-y: auto !important;">




            <div ng-repeat="comment in idea.comments" >
                - by {{comment.author}}
                <span style="font-size:20px;margin-left:10px">
                    Mensaje: {{comment.body}}
                </span>
                </br>
            </div>

        </div>
        <ng-include src="'/templates/agregarComentario.html'"></ng-include>

    </div>

</div>